<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Test Task</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="container">
        <form action="/pay" th:action="@{/pay}" th:object="${payamount}" method="post">
            <h1>Введите сумму</h1>
            <input type="number" th:field="*{amount}" required min=0 step="0.01">
            <button type="submit" value="Submit">Оплатить</button>
        </form>
    </div>
</body>

</html>